In [1]:
import pandas as pd

df = pd.read_json("../raw_dataset/Movies_and_TV_5.json",
                  lines=True,
                  nrows=1_000_000)

df = df.drop(columns=["style", "image"])

In [2]:
df

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote
0,5,True,"11 9, 2012",A2M1CU2IRZG0K9,0005089549,Terri,So sorry I didn't purchase this years ago when...,Amazing!,1352419200,NaN
1,5,True,"12 30, 2011",AFTUJYISOFHY6,0005089549,Melissa D. Abercrombie,Believe me when I tell you that you will recei...,Great Gospel VHS of the Cathedrals!,1325203200,NaN
2,5,True,"04 21, 2005",A3JVF9Y53BEOGC,000503860X,Anthony Thompson,"I have seen X live many times, both in the ear...",A great document of a great band,1114041600,11
3,5,True,"04 6, 2005",A12VPEOEZS1KTC,000503860X,JadeRain,"I was so excited for this! Finally, a live co...",YES!! X LIVE!!,1112745600,5
4,5,True,"12 3, 2010",ATLZNVLYKP9AZ,000503860X,T. Fisher,X is one of the best punk bands ever. I don't ...,X have still got it,1291334400,5
...,...,...,...,...,...,...,...,...,...,...
999995,5,True,"06 13, 2017",A2MOM6CYU6X7V5,B0009S2T0W,Janie Morales,great,Five Stars,1497312000,NaN
999996,5,True,"05 26, 2017",A3IGSX05GKM8LP,B0009S2T0W,james c holmes,great movie,Five Stars,1495756800,NaN
999997,4,True,"04 14, 2017",A1KQU2U7RMLVD4,B0009S2T0W,Christopher Waller,What a messed up film! Very well done though.,Four Stars,1492128000,NaN
999998,5,True,"03 7, 2017",A76ZXASHBY84O,B0009S2T0W,JEREMY ENGLAND,CRAZY ASS MOVIE,Five Stars,1488844800,2
999999,5,True,"09 30, 2007",A3BWHLUFH4RUQR,B0009S2SP8,Sharon K. Bush,"Although this is the last of the series, it is...",A wonderful series.,1191110400,NaN

In [3]:
prod = pd.read_json("../filtered_dataset/filtered_meta.json", lines=True)
df = df[df["asin"].isin(prod['asin'])]

df

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote
0,5,True,"11 9, 2012",A2M1CU2IRZG0K9,0005089549,Terri,So sorry I didn't purchase this years ago when...,Amazing!,1352419200,NaN
1,5,True,"12 30, 2011",AFTUJYISOFHY6,0005089549,Melissa D. Abercrombie,Believe me when I tell you that you will recei...,Great Gospel VHS of the Cathedrals!,1325203200,NaN
7,5,True,"04 12, 2016",A2CFV9UPFTTM10,0005419263,SuzieQ,The little ones love this,Love it,1460419200,NaN
8,3,True,"07 28, 2014",A3139J3877Y61F,0005419263,SingingButterfly,Good songs. The DVD is a little boring.,Three Stars,1406505600,NaN
9,5,True,"12 21, 2010",A2PANT8U0OJNT4,0005419263,Cutegirlmomma,The DVD came in great condition and provided l...,Blast from the past,1292889600,NaN
...,...,...,...,...,...,...,...,...,...,...
999995,5,True,"06 13, 2017",A2MOM6CYU6X7V5,B0009S2T0W,Janie Morales,great,Five Stars,1497312000,NaN
999996,5,True,"05 26, 2017",A3IGSX05GKM8LP,B0009S2T0W,james c holmes,great movie,Five Stars,1495756800,NaN
999997,4,True,"04 14, 2017",A1KQU2U7RMLVD4,B0009S2T0W,Christopher Waller,What a messed up film! Very well done though.,Four Stars,1492128000,NaN
999998,5,True,"03 7, 2017",A76ZXASHBY84O,B0009S2T0W,JEREMY ENGLAND,CRAZY ASS MOVIE,Five Stars,1488844800,2
999999,5,True,"09 30, 2007",A3BWHLUFH4RUQR,B0009S2SP8,Sharon K. Bush,"Although this is the last of the series, it is...",A wonderful series.,1191110400,NaN

In [4]:
user_review_count = df["reviewerID"].value_counts()

user_review_count

reviewerID
A2NJO6YE954DBH    913
A16CZRQL23NOIW    909
ANCOMAI0I7LVG     822
A3LZGLA88K0LA0    772
A1GGOC9PVDXW7Z    730
                 ...
AOFLQCO5JK1P8       1
ABHKYPQS51NHN       1
AX1XA9YTQ5R1G       1
A1HHIVQLK1VMSV      1
A3EUZ07BXV6N8A      1
Name: count, Length: 223160, dtype: int64

In [5]:
user_review_count.median()

np.float64(2.0)

In [6]:
contagens = df["reviewerID"].value_counts()

valores_frequentes = contagens[contagens > 10].index

df = df[df["reviewerID"].isin(valores_frequentes)]

In [7]:
user_review_count = df["reviewerID"].value_counts()

user_review_count

reviewerID
A2NJO6YE954DBH    913
A16CZRQL23NOIW    909
ANCOMAI0I7LVG     822
A3LZGLA88K0LA0    772
A1GGOC9PVDXW7Z    730
                 ...
AWCGQRPV82JZF      11
A1XTQ4956E8FIC     11
A1MSLUZ1PGWF3Z     11
A3BA5ISHG5AHF2     11
A34JCDB3DPJ1I5     11
Name: count, Length: 11114, dtype: int64

In [8]:
user_review_count.median()

np.float64(17.0)

In [9]:
prod_counts = df['asin'].value_counts()
prod_counts

asin
B0002WYTWG    835
B00003CWT6    698
0792151712    547
B00005JNJV    542
0793906091    537
             ...
B0009NZ2S8      1
0767801814      1
B0009OUBGU      1
B0000714EM      1
B0000714F3      1
Name: count, Length: 13431, dtype: int64

In [10]:
prod_counts.mean()

np.float64(22.525128434219344)

In [14]:
valores_frequentes = prod_counts.head(1000).index
valores_frequentes

Index(['B0002WYTWG', 'B00003CWT6', '0792151712', 'B00005JNJV', '0793906091',
       'B00005JKZY', 'B00005JKZU', '0790729628', 'B0000DKMK0', 'B00005JO20',
       ...
       '6302990130', 'B000009S2E', '630243078X', '6301973461', '6300216209',
       '6303153348', '6304285388', '6302281849', '6300208591', '6303631851'],
      dtype='object', name='asin', length=1000)

In [15]:
df = df[df['asin'].isin(valores_frequentes)]
df

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote
1999,5,True,"10 23, 2017",ACCJ216HIVI6R,0767803434,Jay Arduza,Excellent thanks!!!!,Five Stars,1508716800,NaN
2002,5,True,"08 22, 2017",A3SHYTIYA8RRMJ,0767803434,SHIRLEY COYLE,great,Five Stars,1503360000,NaN
2003,5,True,"08 13, 2017",A20GHWCXICZZFJ,0767803434,Stephanie,I think this film is interesting.,Five Stars,1502582400,NaN
2005,5,True,"08 3, 2017",AE2SDFQQCDLED,0767803434,Mark Francis,Can Harrison run for president now? Please?,A great ride!,1501718400,NaN
2008,1,False,"07 12, 2017",A3F2JUHM6C9RZ9,0767803434,LP Quagmire,"Disappointing, to say the least. Unfortunatel...",Could Have Been So Much More,1499817600,NaN
...,...,...,...,...,...,...,...,...,...,...
998803,5,False,"07 28, 2005",A391YPR0NFTCLK,B0009PLLN6,Brian,I wanted to let people know that they should p...,Buy the original Version of the Film,1122508800,33
998807,3,False,"07 20, 2005",A3H9JSM1SUTE4O,B0009PLLN6,Robin Simmons,ALEXANDER DIRECTOR'S CUT (Warner) is Oliver St...,DIRECTOR'S CUT IS BETTER THAN THEATRICAL,1121817600,13
998810,2,False,"06 19, 2005",A16CZRQL23NOIW,B0009PLLN6,Hiram Gmez Pardo Venezuela,"The life and triumphs of Alexander the Great, ...",Worth film but never a classic!,1119139200,NaN
998813,4,False,"06 6, 2005",A12IRGQLFE4EBA,B0009PLLN6,Fabulinus,... other than do to homophobia! LOL While i...,* Not Quite Sure Why This Bombed ...,1118016000,10
998814,3,False,"06 1, 2005",A3Q1FVRV0CRYTH,B0009PLLN6,Damian Gunn,I had high hopes for this movie. I've been a ...,Oh what could have been...,1117584000,5

In [16]:
df.to_json("filtered_reviews.json", orient="records", lines=True, force_ascii=False)

In [17]:
selected_producties = prod[prod['asin'].isin(valores_frequentes)]
selected_producties

,asin,title,category,description,feature,rank,brand
182,076780192X,Close Encounters of the Third Kind VHS,"[Studio Specials, Sony Pictures Home Entertain...",[The Collector's Edition (CE) represents Steve...,[],237664.0,Richard Dreyfuss
183,0767802799,Age of Innocence VHS,"[Studio Specials, Sony Pictures Home Entertain...",[good],[],750339.0,Daniel Day-Lewis
185,0767803434,Air Force One,"[Studio Specials, Sony Pictures Home Entertain...",[The fate of the nation rests on the courage o...,[],14175.0,Wendy Crewson
187,0767805534,Easy Rider VHS,"[Studio Specials, Sony Pictures Home Entertain...",[This box-office hit from 1969 is an important...,[],624246.0,
188,0767805712,Gattaca,"[Science Fiction & Fantasy, Science Fiction, F...","[Ethan Hawke, Uma Thurman, Alan Arkin and Jude...",[],15137.0,Ernest Borgnine
...,...,...,...,...,...,...,...
36487,B0009I7NGW,Star Trek Enterprise - The Complete Second Season,[Science Fiction],"[Set in the 22nd century, a hundred years befo...",[],39644.0,Scott Bakula
36588,B0009J2HV2,I Love You,"[Art House & International, By Original Langua...",[The story of a woman of blazing beauty who re...,[],535066.0,Sonia Braga
36683,B0009KA7BS,Constantine,"[Studio Specials, Warner Home Video, All Titles]",[Based on the DC Comics/Vertigo Hellblazer gra...,[],40700.0,Keanu Reeves
36808,B0009ML2KQ,The High and the Mighty,"[Paramount Home Entertainment, Action & Advent...",[The co-pilot keeps his cool on a plane runnin...,[],7681.0,John Wayne
37024,B0009PLLN6,Alexander,"[Studio Specials, Warner Home Video, All Titles]",[Academy award winning director Oliver Stone p...,[],160595.0,Colin Farrell

In [18]:
selected_producties.to_json("selected_producties.json", orient="records", lines=True, force_ascii=False)